
                  /* ******************************************************************************************************* */
                  /* ************************************************* RESET *********************************************** */
                  /* ******************************************************************************************************* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

                  /* ******************************************************************************************************* */
                  /* ************************************************* HEADER ********************************************** */
                  /* ******************************************************************************************************* */

header,section,footer {
    padding: 15px;
}

header {
  background-color: bisque;rgb(223, 223, 74);
  color: rgb(17, 16, 14);
}
  
header > div {
  display: inline-block;
  vertical-align: middle;
  background: bisque;
}

#haut-gauche {
  border:solid 2 red;
  width: 25%;
  
}
#haut-droite {
  width: 75%;
 color: blue;
 font-size: larger;
  text-align: center;
}

 img{
  
   width: 150px;
   height: 150px;
} 


                  /* ******************************************************************************************************* */
                  /* ************************************************* BODY ************************************************ */
                  /* ******************************************************************************************************* */

/* on centre le site */

body > div:first-child {
  margin: auto;
  max-width: 1400px;
  background-color: #eee;
  min-height: 500px;
  padding: 20px;
}
body {
  background-color: rgb(210, 248, 159);
}

                  /* ******************************************************************************************************* */
                  /* ************************************************* NAV ************************************************* */
                  /* ******************************************************************************************************* */

nav{
    text-align: center;
    background-color: rgb(25, 29, 29);
    line-height: 30px;
}
nav p {
    border-right:  1px rgb(236, 234, 234) solid;
    color: aqua;
    font: size 15px;;
    line-height: 30px;
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
nav p:hover{background-color: blueviolet;}

nav a:last-child p{
    border-right:  none;
}

                  /* ******************************************************************************************************* */
                  /* ************************************************* FOOTER ********************************************** */
                  /* ******************************************************************************************************* */

  footer p {
    display: inline-block;
      font-size: 2rem;
      
      width: 100%;
      padding-left: 20px;
  }
  footer {
    background-color: bisque;
  }
  


                  /* ******************************************************************************************************* */
                  /* ************************************************* TABLEAU ********************************************* */
                  /* ******************************************************************************************************* */

table,td,th{
    padding: 5px;
    border: 1px black dotted;
}

table tr td:nth-last-child(-n+3){
    background-color: azure;
    text-align: center;
}

                  /* ******************************************************************************************************* */
                  /* ************************************************* LISTE ********************************************* */
                  /* ******************************************************************************************************* */

h2 {
  color: blue;

}

ol{
  margin-left: 100px;
  margin-bottom: 10px;
  width: 200px;
  
  
}

ul {
  margin-left: 100px;
  margin-bottom: 10px;
  width: 200px;
  
}

                  /* ******************************************************************************************************* */
                  /* ********************************************** FORMULAIRE ********************************************* */
                  /* ******************************************************************************************************* */     

fieldset{
  padding: 10px;
  border-radius: 0 20px 0 0;
}
legend{
  color: blue;
  font-weight: bold;
}

input[type='text'],input[type='password'],select{
  padding: 5px;
  color: black;
}

section{
  background-color: bisque;
} 







